In [1]:
import pandas as pd
import numpy as np

In [10]:
data=pd.read_excel('QQQ.xlsx')

In [49]:
data.head()

,Name,Surname,Age,Education,Education Text,Gross Income,Finance Application Amount,Typical Repayment /Salary,Reached,Reached Text,Check check done,Check check done Text,Credit score,Credit Outcome,Credit Outcome Text,Finance app done,Finance app done Text,Finance Scoring,Finance outcome,Finance outcome Text
0,Sbusiso,Mochumi,28.632945,5,Post-grad degree,23150,1.147316e+06,0.495601,1,Reached,1,Credit Check Done,615.0,1.0,PASS,1.0,Finance App Done,-883.085016,2.0,DECLINED
1,Chantel,Plaatjie,27.628640,1,No Matric,6100,2.500000e+05,0.409836,1,Reached,1,Credit Check Done,362.0,0.0,FAIL,NaN,NaN,NaN,NaN,NaN
2,Themba,Khoza,45.904415,2,Matric,12500,4.009377e+05,0.320750,2,Unreachable,3,Not applicable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Londiwe,Radzilani,21.680403,1,No Matric,5000,3.230532e+05,0.646106,2,Unreachable,3,Not applicable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Elaine,Chauke,36.583669,2,Matric,12050,2.769775e+05,0.229857,1,Reached,1,Credit Check Done,413.0,0.0,FAIL,NaN,NaN,NaN,NaN,NaN

###### QUESTION 1

In [50]:
# number of customers that did Credit Check 
df=data[data['Check check done']==1 ].groupby('Check check done Text').count()
df['Check check done']

Check check done Text
Credit Check Done    798
Name: Check check done, dtype: int64

In [51]:
# number of customers who skipped the Credit Check 
df=data[data['Check check done']==2 ].groupby('Check check done Text').count()
df['Check check done']

Check check done Text
Credit Check Skipped    733
Name: Check check done, dtype: int64

###### QUESTION 2

In [52]:
d_f=data.groupby(['Finance outcome Text','Check check done Text']).count()

In [53]:
# number of applications approved and declined by the two agent groups
d_f['Finance outcome']

Finance outcome Text  Check check done Text
APPROVED              Credit Check Done        171
                      Credit Check Skipped     194
DECLINED              Credit Check Done        267
                      Credit Check Skipped     486
Name: Finance outcome, dtype: int64

###### QUESTION 4

In [61]:
df=data[data['Credit score']>450].where(data['Check check done Text']=='Credit Check Done').count()
df['Credit Outcome']

468

In [62]:
#checking the Credit Outcome at 450
df=data[data['Credit score']==450]
df[['Check check done Text','Credit Outcome Text']]

     Check check done Text Credit Outcome Text
1538  Credit Check Skipped                FAIL
1754     Credit Check Done                FAIL
1785  Credit Check Skipped                FAIL